<!doctype html>
<html>
    <head>
        <title><%= error %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="stylesheet" href="css/error.css">
    </head>
    <body>
        <header>
            <h1><%= error %></h1>
            <a href="/">Return to <span>qwipi</span></a>
        </header>
    </body>
</html>