h2 {
    font-size: 30px;
    font-weight: 400;
}

body {
    font-size: 20px;
}

input[type=text] {
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .1);
    margin: 0 10px;
    padding: 10px;
    font-size: 20px;
}

#info {
    margin: 10px 0;
}

#jsoninput {
    height: 500px;
    width: 100%;
    font-size: 15px;
}

#jsoninput, #jsoninput * {
    font-family: "Source Code Pro", Menlo, Consolas, "Courier New", Courier, monospace;
}

label {
    margin-right: 20px;
    display: inline-block;
}

[readonly] {
    background-color: transparent !important;
    color: #666;
}

#submit {
    display: block;
    border: solid 2px salmon;
    border-radius: 4px;
    color: salmon;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    background: none;
    transition-property: color, background;
    transition-duration: .3s;
    cursor: pointer;
}

#submit:hover {
    color: white;
    background-color: salmon;
}

#terms {
    font-size: 17px;
    margin-top: 20px;
}

#terms input {
    margin-right: 7px;
}